*{
  font-family: 'Rubik';
}
.App {
    max-width: 1366px;  
    height: 100%; 
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button{
  width: 126px;
  height: 49px;
  font-family: 'rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
  background: #1D6861;
}
.container {
  width: 100%;
}
@media screen and (min-width: 40em) {
  .container {
    width: 50%;
  }
}
@media screen and (min-width: 52em) {
  .container {
    width: 25%;
  }
}
.section-row{
  width: auto;
  height: auto;
  flex-direction: row;
}
.section-column{
  width: auto;
  height: auto;
  flex-direction: column;
}
.heading-title{
  font-family: 'rubik';
  font-style: normal;
  font-weight: 500;
  line-height: 164%;
  letter-spacing: 1px;
  color: #414141;
}
.heading-sub-title{
  font-family: 'rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 164%;
  letter-spacing: 0.5px;
  color: #A5A5A5;
}