.MenuButton{
    width : 100px;
    font-style: normal;
    font-weight: normal;
    font-size: calc ( 14px + 2vmin);
    line-height: 17px;
    letter-spacing: 0.5px;
    color: #535353
  }
.Button{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #535353;
}